//  colors
 $primary-color:#FFFFFF;
 $secondary-color:#232323;
 $tertiary-color: #3D8B74;
 $tertiary-hover-color:#40A385;

//  font-family
 $primary-font: 'Josefin Sans', sans-serif;
 $secondary-font:'Mulish', sans-serif;


