@import 'config';

.container {
    box-sizing: border-box;
    width:calc(100vw - 95px);
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    background: #F5F5F5;
    max-width: 1442px;
@media (max-width:3740px) {
    #hmb-input{
        display: none;
    }
    
    .hamburger-menu{
        visibility: hidden;
        width: 20px;
        height: 20px;
        display: block;
        border: none;
        padding: 0px;
        border-radius: 2px;
        background: linear-gradient(
          to bottom, 
          $tertiary-color, $tertiary-color 20%, 
          white 20%, white 40%, 
          $tertiary-color 40%, $tertiary-color 60%, 
          white 60%, white 80%, 
          $tertiary-color 80%,$tertiary-color 100%
        );
        
        .main-nav2{
            a{
                text-decoration: none;
                color: $secondary-color;
                font-family: $secondary-font;
                margin-top: 15px;
                top: 0;
                left: 0;
                text-align: center;
            }
            visibility: hidden;
            display: flex;
            flex-direction: column;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100vw; 
            margin-left: 500px;
            background-color: rgb(230, 238, 230);
            opacity: 0.7;
            width: 150px;
            height: 180px;
            position: fixed;
            opacity: 1px;
            

  }   
      


.hamburger-menu  .sidebar-menu{
            
    visibility:hidden;
}
}
#hmb-input:checked + .hamburger-menu .sidebar-menu {
    visibility: hidden;
    // left: 0;
}
}

 @media(max-width:1469px ) {
    .header{
        margin-left: -80px;
        .main-nav{
            margin-right: 300px;
            a{ 
                margin-right: 20px;
            }
           
        }
       
    }
    }

@media(max-width:1300px ) {
    .header{
        .main-nav{
            margin-left: -150px;

            a{ 
                margin-right: 20px;
            }
        }
    }
}
@media(max-width:1070px ) {
    .header{
        .main-nav{
            a{
                display: none;
            }
            
        }
        .menu-content{
            .hamburger-menu{
                visibility: visible;
                margin-left: -500px;
                width: 80px;
                height: 40px;
                // padding-left: 80;

                .main-nav2{
                    margin-left: 680px;
                    margin-top: 80px;
                    
                }
                .hamburger-menu  .sidebar-menu{
                    
                    visibility:visible;
                }
            }
          
        #hmb-input:checked + .hamburger-menu .sidebar-menu {
            visibility: visible;
            left: 0;
        } 
            
        }
       
    }
}

@media (width:960px) {

   .hamburger-menu{
 
    .main-nav2{
        margin-left: 280px;
        
    }
   }
}
@media (width:880px) {

   .content-nav{
    width: 100%;
    overflow: auto;
   }
 }

    
    
        .header {
           max-width: 1442px;
            height: 77px;
            background: $primary-color;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
           
            
        
            
        .menu-content{
            margin:0 136px;
            padding: 23px 0;
            display: flex;
            align-items: center;
            
            
            .logo{
                max-width: 400px;
                margin-right:350px;
                @media (width:575px) {
                    img{ margin-right: 120px;
                    padding-left: -50px;}
                   
                }
            }
            .main-nav {
                font-family: $secondary-font;
                font-size: 18px;
                font-weight: 400px;
                width: 444px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                
                
                a {
                    color: #818181;
                    text-decoration: none;
                    letter-spacing: 1.5px;
                    margin-top: -4px;
                    
                }
                .active{
                    font-weight: 800;
                    color: $tertiary-color;
                }
            }
          
      
    }
 }
        
 .anons-wrapper{
           margin-left: -22px;
   
       

    .anons{
        background-image:url(/dist/img/anons.svg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        max-width: 1347px;
        height: 595px;
        margin: 32px 47px 57px 68px;
        display: flex;
        align-items: center;
        text-align: center; 
   
           &__text-wrap{
              
               color: $secondary-color;
              width: 723px;
               height: 365px;
               background-color: rgb($primary-color, 0.75);
               margin: 0 auto;
            //    margin-left: 300px;
             
   
             .text
                { max-width: 549px;
                  height: 249px;
                  margin: 0 auto;
                  padding: 58.5px;
                    .title {  
                   font-family: $primary-font;
                   font-size: 28px;
                   letter-spacing: 1.1px;
                   font-weight: 400;
                   font-style:normal;
                   text-transform:uppercase;
                   max-width: 380px;
                   margin-left: 85px;
                   margin-top:-0.2px ;
                   
                   
                  }
               .context {
                   font-weight: 400;
                   font-size: 18px;
                   font-family: $secondary-font;
                   margin-top: 28px;
                   margin-right: 40px;
                   letter-spacing: 1.5px;
                   max-width: 549px;
                
                }
                  
   
               }
               .btn {
                   background-color: $tertiary-color;
                   color: $primary-color;
                   width: 292px;
                   height: 55px;
                   font-family: $primary-font;
                   font-weight: 700;
                   font-size: 16px;
                   letter-spacing: 1.1px;
                   border: none;
                   cursor: pointer;
                   margin-top: 25px;
                  
               }
               .btn:hover {
                background-color: $tertiary-hover-color;
               }
           }


           @media(max-width: 930px){
   
            .anons__text-wrap{
                max-width: 500px;
            
               
                .text{
                    max-width: 500px;
                    height:200px;
                    // display: contents;
                 
                    .title{
                       margin-left: -10px;
                    }
                    .context{
                       margin-right: -10px;
                    }  
               }
                 
             
        }
        
       
    }

    
    @media(max-width: 740px){
   
        .anons__text-wrap{
            max-width: 450px;
            height: 300px;
            
            .text{
                max-width: 500px;
                height:200px;
                display: contents;
               
             
                .title{
                    margin-top: 40px;
                   margin-left: 60px;
                   font-size: 24px;
                }
                .context{
                   margin-right: -10px;
                   font-size: 90%;
                }
                .btn{
                    width: 200px;
                    height: 40px;
                 
                   
                 }   
           }
             
         
    }
    
   
}
@media(max-width: 695px){
  
    .anons__text-wrap{
        max-width: 380px;
        height: 250px;
        
        .text{
            max-width: 400px;
            height:200px;
            display: contents;
           
         
            .title{
                margin-top: 40px;
               margin-left: 30px;
               font-size: 20px;
            }
            .context{
                padding: 0 10px;
               margin-right: -10px;
               font-size: 75%;
            }
            .btn{
                width: 200px;
                height: 40px;
             
               
             }   
       }
         
     
}


}
@media(max-width: 520px){
  
    .anons__text-wrap{
        max-width: 280px;
        height: 300px;
        
        .text{
            max-width: 300px;
            height:400px;
            display: contents;
           
         
            .title{
                margin-top: 40px;
               margin-left: 10px;
               font-size: 18px;
            }
            .context{
                padding: 0 10px;
               margin-right: -10px;
               font-size: 65%;
            }
            .btn{
                width: 150px;
                height: 40px;
                padding-bottom: 10px;
             
               
             }   
       }
         
     
}


}
       }

      
   
    .content {
            max-width: 1168px;
            height:1510px;
            margin-bottom: 94px;
            margin-left: 21px;
            
@media(max-width: 1353px){
                  
                    display: contents;
                    justify-content: center;
                  
                    

                  .content-1{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    
                  }
                    
                 .aside {
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   text-align: center;
                   
              i{
                margin-top: 50px;
                margin-left: -180px;
              }
                   .tag-cloud{
                    h1{
                      margin-left: -173px;
                    }
                   ul{
                    width: 450px;
                    margin-left: -168px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                   }
                    a{margin-left: -167px;}
                   }
                   .author{
                    margin-left: -175px;
                    display: flex;
                    flex-direction: column;
                  
                   img{
                    height: 221px;
                   }
                    p{
                        height: 200px;
                        width: 300px;
                    }   
                   }
                 }
             
            }
     @media(max-width: 518px){
                  
                display: contents;
                justify-content: center;
              
                

              .content-1{
                display: flex;
                justify-content: center;
                flex-direction: column;
                
              }
                
             .aside {
               display: flex;
               flex-direction: column;
               align-items: center;
               text-align: center;
               
          i{
            margin-top: 50px;
            margin-left: -90px;
            margin-right: 80px;
          
          }
               .tag-cloud{
                h1{
                  margin-left: -173px;
                }
               ul{
                width: 350px;
                margin-left: -118px;
                display: flex;
                justify-content: center;
                align-items: center;
               }
                a{margin-left: -167px;}
               }
               .author{
                margin-left: -175px;
                display: flex;
                flex-direction: column;
              
               img{
                height: 221px;
               }
                p{
                    height: 200px;
                    width: 300px;
                }   
               }
             }
         
        }
    
          

 @media(max-width: 1035px){
    
       
        .blog-title {
            width: 300px;
            
        }
        .blog-text{
            width: 350px;
          
        }
      }
         
    

    @media(max-width: 930px){

           .blog-list{
            display: contents;
                li {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                .img-wrap{
                    margin-right: 250px;
                }
                .blog-title {
                    width: 500px;
                    
                }
                .blog-text{
                    width: 550px;
                  
                }
                }
           }
           
         
        }
        
        

      

           
            .content-1{
                display: flex; 
               
               
                
                .content-nav {
                    @media (width:530px) {
                      visibility: hidden;
                    }
                    font-family: $secondary-font;
                    font-size: 16px;
                    font-weight: 400px;
                    max-width: 659px;
                    height: 34px;
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    margin-left: 137px;
                    letter-spacing: 1.5px;
                    a{
                        color: $secondary-color;
                        text-decoration: none;
                        
                    }
                    .active-blog {
                        font-weight: 800;
                        color: $tertiary-color;
                    }

                   
                    
                }
               
                
                .blog-list{
                  
                              @media(max-width: 626px){
                             li {
                                height: 400px;
                                max-width: 500px;
                                margin-left: 25px;
                             }
                                 
                             .img-wrap{
                              margin: 0 auto;
                              img{
                                width:200px; 
                                height:200px;
                            }
                             }
                             
                            
                                .blog-title {
                                    width: 400px;
                                    margin-left: 30px;
                                    text-align: center;
                                     
                                 }
                                 .blog-text{
                                     max-width: 500px;
                                     margin-left: 30px;
                                     text-align: center;
                                     width: 420px;
                                   
                                 }
                                 .read-more{
                                    text-align: center;
                                    padding-left: 200px;
                                   
                                 }
                                 
                        
                      
                     }
                     @media(max-width: 513px){
                        li {
                           height: 490px;
                           max-width: 400px;
                           margin-left: 25px;
                        }
                            
                        .img-wrap{
                         margin: 0 auto;
                         img{
                           width:180px; 
                           height:180px;
                       }
                        }
                        
                       
                           .blog-title {
                               margin-right: 350px;
                               width: 200px;
                             margin-left: 130px;
                               text-align: center;
                                
                            }
                            .blog-text{
                                width: 300px;
                                margin-left: 80px;
                                text-align: center;
                           
                              
                            }
                            .read-more{
                               
                                margin-top: 50px;
                               text-align: center;
                               padding-left: 200px;
                              
                            }
                            
                   
                 
                }

                    color: $secondary-color;
                    max-width: 826px;
                    height: 1333px;
                    margin-left: 137px;
                   
                    ul {
                        list-style: none;
                        margin-top: 37px;
                        padding: 0;
                        
                        li 
                        {   
                            display: flex;
                            margin-bottom:50px;
                         
                            .img-wrap {
                               max-width: 224px;
                                height: 221px;
                                position: relative;
                                cursor: pointer;

        
                                .hover-text{
                                  position: absolute;
                                  top: 0;
                                  bottom: 0;
                                  left: 0;
                                  right: 0;
                                  margin: 28px 0 0 32px;
                                  visibility: hidden;
                                  opacity: 0;
                                  font-size: 16px;
                                  line-height: 24px;
                                  letter-spacing: 1.5px;
                                  font-family: $secondary-font;
                                  font-weight: 800;
                                 
                                  .p1{
                                    width: 61px;
                                    height: 72px;
                                    margin:0;
                                    padding: 0;
                                  }
                                  .p2{
                                    width: 100px;
                                    height: 77px;
                                   
                                  }
                                    
                                }
                               
                            }
                            :hover {
                                .hover-text{visibility: visible;
                                    opacity: 1;}
                                img {
                                    opacity: 0.3;
                                }
                                
                            }
                            .blog{
                                width: 520px;
                                height: 144px;
                                margin-left: 48px;
                                margin-top: 10px;

                                
                                .blog-title{
                                    font-family: $primary-font;
                                    font-weight: 700;
                                    font-size: 24px;
                                    line-height: 24px;
                                    letter-spacing: 1.1px;
                                }
                                .blog-text {
                                    font-family: $secondary-font;
                                    font-weight: 400;
                                    font-size: 16px;
                                    max-width: 520px;
                                    height: 67px;
                                    line-height: 20px;
                                    letter-spacing: 1.5px;
                
                                }
                                .read-more{
                                    font-family: $secondary-font;
                                    font-weight: 600;
                                    font-size: 16px;
                                    pointer-events: auto;   
                                    color: $secondary-color;
                                }
                            }
            
                        }
        
                        
                    }
            }
        
        }

        .aside{
            margin-left: 98px;
            .icons {
                margin-left: -10px;
                cursor: pointer;
                path{
                    fill: #454545;
                }
                :hover {
                    path {
                        fill: $tertiary-hover-color
                    }  
                }
            }
            .tag-cloud{
                ul {
                    list-style: none;
                    display: flex;
                   li {
                    background-color: $tertiary-color;
                    margin: 5px;
                    margin-left: 10px;
                    color: $primary-color;
                    padding: 12.5px;
                    cursor: pointer;
                    font-family: $secondary-font;
                    font-weight: 400;
                    font-size: 16px;
                }
                }
            }
        }

        .aside{
            width: 100%;
            height: 850px;
          
            .icons{
                width: 200px;
                height: 22px;
                display: flex;
                justify-content: space-between;
                margin: 13px 0 58px 0;
            }
            .tag-cloud {
                width: 280px;
                height: 258px;
             
               h1 {
                font-family: $primary-font;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
                letter-spacing: 1.1px;
                text-transform: uppercase;
               }

               ul {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                margin-top: 25px;
                letter-spacing: 1.5px;
                margin-bottom: 27px;
                 li:hover{
                    
                        background-color: $tertiary-hover-color;
                    
                    
                 }
                 .li{
                    margin-left: 0px;
                 }
               
               }
               a {
                font-family: $secondary-font;
                color: $secondary-color;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 1.5px;
                padding-top: 20px;
               }
            }
            .author {
                margin-top: 65px;
               h1 {
                font-family: $primary-font;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
                letter-spacing: 1.1px;
               }
               img {
                margin-top:5px;
               }
               p {
                font-family: $secondary-font;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 1.5px;
                margin-top: 18px;
               }
            }
        }
    

}
.pag-div {
    
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 83px;
    .pagination {
        width: 461px;
        height: 26px;
        display: flex;
        justify-content: space-between;
        margin-right: -256px; 

        @media (max-width:1353px) {
            height: 50px;
             margin-left: -270px;
             margin-bottom: 10px;
             a{
                margin-right: 35px;
             }
    
        }
        @media (max-width:615px) {
            width: 300px;
            a{
                margin-right: -35px;
            }
   
       }
    
       a {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1.5px;
        color: $secondary-color;
        text-decoration: none;
        padding: 0;
        
       } 
   
      
       
       .active{
        background-color: $tertiary-color;
        height: 26px;
        width: 26px;
        text-align:center;
        color: $primary-color;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1.5px;
    }
    }
}

.subscribe {
    @media(max-width: 930px){
       height: 550px;
            
          .sub-text{
           display: contents;
           text-align: center;
           width: 500px;
           height: 600px;
           h1{
            max-width: 300px;
            height: 90px;
            margin: 0 auto;
            text-align: center;
            padding-top: 35px;
            padding-left: 20px;
           }
           p{
            max-width: 300px;
            height: 160px;
            margin: 0 auto;
            text-align: center;
            padding-left: 20px;
           }
          } 
            .input{
              
                padding-left: 20px;
                height: 350px;
                text-align: center;
                    
                &__name {
                    height: 35px;
                  

                }
                &__email {
                  
                    margin-top: 10px;
                   
                }
                &__btn{
                    margin-top: 10px;
                }
            }
           
           
          
    }
    @media(max-width: 888px){
        height: 650px;
        .input{
            width: 330px;
            .input__name{
                margin-left:-25px ;
            }
            .input__btn{
                margin-left:-135px
            }
        }
    }

    @media(max-width: 640px){
        .input{
            height: 250px;
            width: 300px;
            .input__name{
                height: 35px;
                margin-left:-150px ;
            }
            .input__email{
                height: 35px;
                margin-left:-63px ;
            }
            .input__btn{
                height: 35px;
                margin-left:-21px
            } 
        }
    }
    @media(max-width: 485px){
        .input{
          
            .input__name{
                height: 35px;
                max-width: 180px;
                margin-left:-43px ;
                margin-right: 50px;
            }
            .input__email{
                height: 35px;
                max-width: 250px;
                margin-left:0px;
                margin-right: 90px;
            }
            .input__btn{
                height: 35px;
                margin-left:-140px
            } 
        }
    }

    box-sizing: border-box;
    max-width: 1442px;
    height: 329px;
    text-align: center; 
    padding-top: 53px;
    margin-left: 20px;
    background-color: #E2EEEA;
   
        h1{
            font-family: $primary-font;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 1.1px;
        }

        p {
            font-family: $secondary-font;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1.5px;
            width: 691px;
            height: 60px;
            margin: 0 auto;
        }
       
   .input{
    padding: 41px 0 64px 30px;
    max-width:891px;
    height: 56px;
    margin: 0 auto;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.5px;
    box-sizing: border-box;
    ::placeholder {
        font-style: italic;
        color: #797979;
    }
    :focus{
        outline-color:  $tertiary-color;
    }
       
    &__name{
        width: 245px;
        height: 55px;
        font-family: $secondary-font;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1.5px;
        padding-left: 26px;
        margin-left: -37px;
        
    }
    
    &__email {
        width: 368px;
        height: 55px;
        font-family: $secondary-font;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1.5px;
        padding-left: 26px;
        margin-left: 15px;
        
       
    }
    &__btn{
        width: 133px;
        height:55px;
        box-sizing: border-box;
        font-family: $primary-font;
        letter-spacing: 1.1px;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: $primary-color;
        background-color: $tertiary-color;
        border: none;
        cursor: pointer;
        margin-left: 15px;
      
    }
    &__btn:hover{
        background-color: $tertiary-hover-color;
    }
   }
 
}
}
 .footer {
   width: 100%;
    height: 385px;
    box-sizing: border-box;
    background-color: $secondary-color;
   

    .contacts{
     width: 374px;
     height: 206px;
     box-sizing: border-box;
     margin: 0 auto;
     text-align: center;
     padding-top: 45px;
      .avatar{
         border-radius:50%;
         width: 100px;
         height: 100px;
      }
      h1{
        letter-spacing: 1.1px;
        font-size: 38px;
        line-height: 38px;
        font-weight: 400;
        color: $primary-color;
        font-family: $primary-font;
       
      
        
        
      }

      .icon  {
        cursor: pointer;
        max-width: 200px;
        height: 22px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: -5px;
        path{
            fill: $primary-color;

           
        }
        :hover {
            path {
                fill: $tertiary-hover-color
            }
            
        }
     
      }
    
    }
    .rights {
      background-color: #323232;;
      height: 92px;
      box-sizing: border-box;
      margin-top: 90px;
  
      
       p{
        font-family: $secondary-font;
        font-size: 16px;
        line-height: 20px;  
        color: $primary-color;
        text-align: center;
        margin: 0 auto;
        padding-top: 35px;
        letter-spacing: 1.5px;
        
       }
    }
 }
}